/*Define all  properties which will affect sidebar*/

.sidebar {
    position: fixed;
    width: 16vw;
    background: #3e5151; /* fallback for old browsers */
    background: linear-gradient(
      to top,
      #f2efc7,
      #7a2c2c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    text-align: center;
    padding: 2em;
    /*
    max-height: calc(100vh - 5rem);
    overflow-y: auto;
    */
    border-radius: 6px;
  
  }

  /* Sidebar.profile-image */
  .profile-image {
    border-radius: 50%;
    border: 3px solid whitesmoke;
  }
  /* Sidebar.profile-name */
  .profile-name {
    font-size: 28px;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  
  /* Sidebar.profile-image */
  /* after and before effect actally are inside of the div paragraph and so on*/
  .profile-name:after {
    content: "";
    display: block;
    height: 1px;
    width: 4em;
    background: #7a2c2c;
    margin: 0.7em auto 0.0px;
    opacity: 0.5;
  }
  
  /* Sidebar.profile-position (webdeveloper / designer) */
  .profile-cargo {
    margin: 2;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: black;
    margin-bottom: 1em;
  }
  
  /* Sidebar.profile-body (body for the navegation) */
  /* The sidebar menu */
  :root {
    --mainColor: #7a2c2c;
  }
  
  /* The navigation menu links */

  .sidenav {
    margin: 0;

  }
  .sidenav a {
    letter-spacing: 1px;
    padding: 0.25rem;
    text-decoration: none;
    color: #7a2c2c;
    display: block;
    font-weight: 700;
    text-shadow: none;
    transition: color 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */


  .sidenav a:hover {
    color: white;
    background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 6px,
       transparent
     );
    border-radius: 2px;
  }

  .sidenav a:after {
    content: "";
    display: block;
    height: 0.1rem;
    width: 5rem;
    background: #7a2c2c;
    margin: 0.1em auto 0.0px;
    opacity: 0.25;
    
  }
  
  .social-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    width: 150px;
    margin: 10px auto;
  }
  
  .social-link {
    color: black;
    opacity: 1;
    font-size: 1.25rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    opacity: 0.5;
  }
  
  
